@charset "UTF-8";


body{
    background-color: dodgerblue;
    font: normal 15pt cursive;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius:20px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.287);
    width: 50%;
    margin:auto;
    
    
}

footer{
    text-align: center;
    font-style: italic;
    color:white;
}

/*Exercício contagem*/
#contando{
    text-align: center;
    border-radius: 15px;
    background: rgba(211, 211, 211, 3)
}


