@charset "UTF-8";

/*FORMATANDO O EXERCÍCIO DE SOMA DOS NÚMEROS*/
section{
    border:2px solid black;
    width: 50%;
    margin-left: 25%;
}
section:hover{
    background-color: #A9A9A9;
}

h1{
    border: solid 1px black;
    width:59%;
    text-align: center;
    margin-left: 21%;
}

input#botão{
    margin-left:1%;
    width: 8%;
    background-color:black;
    color: white;

}
#botão:hover{
    background-color:whitesmoke;
    color:black;
}
input.txtnumeros{
    margin-left: 2%;
    background-color:#b0e0e6;
}
div#resposta{
    font-family: cursive;
    font-size: 15pt;
    margin-top: 14px;
    border-bottom: solid 1px;
    margin-left: 30%;
    
}
